---
---

@import "{{ site.theme }}";




body {
  font-size: 18px;
  line-height: 1.6;
}

.wrapper {
  width: 1100px;
  max-width: 92%;
}

section {
  width: 760px;
}

.profile-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}
